---
layout: root
title: RedPhone
---

<div id='main'>
  <article>
    <div class='container'>
      <hgroup class='container'>
        <h1>Secure voice cells</h1>
        <h2>Encrypt your voice calls</h2>
        <h3> Secure your conversations so that nobody can listen in.</h3>
      </hgroup>
      <section>
        <div class='buttons'>
          {% include text-secure-button.html %}
        </div>
      </section>
    </div>
  </article>
  <article>
    <div class='container'>
      <hgroup class='container'>
        <h2>Security made simple and accessible</h2>
      </hgroup>
      <section>
        <div class='container'>
          <div class="row group">
            <div class="col span_1_of_3">
              <h3>Security made simple</h3>
              <p>A full replacement for your default text messaging application.
              <p>It's got everything you already do & love, and by default private & secure.
            </div>
            <div class="col span_1_of_3">
              <h3>Focus on connecting</h3>
              <p> No new account, username, or password needed. Use your
                  existing number, and contacts. If your contacts are available
                  for a private conversation, the app will let you know.
            </div>
            <div class="col span_1_of_3">
              <h3>Encrypted everything</h3>
              <p> All messages are encrypted locally, so if your phone is lost,
                  your messages will be safe. Messages to other RedPhone users
                  are encrypted over the air, protecting your communication in
                  transit.
              <p><a href='/security'>What's encryption?</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </article>
  <article>
    <div class='container'>
      <hgroup class='container'>
        <h2>Empower yourself. Your data is yours.</h2>
      </hgroup>
      <section>
        <div class='container'>
          <div class="row group">
            <div class="col span_1_of_3">
              <h3>Full data ownership</h3>
              <p> Your calls are encrypted. We won't store your data.
                  Only you have access to your data.
            </div>
            <div class="col span_1_of_3">
              <h3>Open Source = Reliability</h3>
              <p> RedPhone is free and open source, enabling anyone to verify
                  its security by auditing the code.
              <p><a href='https://www.github.com/whispersystems/redphone'>Check out our Github</a>
            </div>
            <div class="col span_1_of_3">
              <h3>Be in charge</h3>
              <p> Keeping private things safe and secure is important. Now you
                  can take this responsibility out of the hands of others, and take
                  pride in taking it into your own.
            </div>
          </div>
        </div>
      </section>
    </div>
  </article>
  <article>
    <div class='container'>
      <hgroup class='container'>
        <h2>RedPhone for Android. It's free.</h2>
      </hgroup>
      <section>
        <div class='container'>
          <div class="row group">
            <div class="col span_1_of_3">
              <img src='http://www.placekitten.com/250/400'>
              <p>Screenshot Title & Description
            </div>
            <div class="col span_1_of_3">
              <img src='http://www.placekitten.com/250/400'>
              <p>Screenshot Title & Description
            </div>
            <div class="col span_1_of_3">
              <img src='http://www.placekitten.com/250/400'>
              <p>Screenshot Title & Description
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class='buttons'>
      {% include red-phone-button.html %}
    </div>
  </article>
</div>

