<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <!-- meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" -->
    <title>Open WhisperSystems >> {{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/bootstrap-carousel.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/fonts/opensans/stylesheet.css">
    <link rel="stylesheet" href="/fonts/bitter/stylesheet.css">
    <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">


  </head>

  <body>
    <div id="wrap">
      <div id="container">
        <header class='main-head'>
          <nav class='topnav bar'>
            <div class='header-graphics'>
              <a href='#'>
                <img class='bird' alt='Raven Logo' src="/img/header/raven.png" width='154' height='181'>
              </a>
              <a href='/'>
                <img class='whisper' alt="Whisper Systems" src="/img/header/whispersystems.png" width="243" height="79">
              </a>
            </div>

            <ul>
              <li><a href="/">About Us</a></li>
              <li><a class='scroll' href="/#privacy">Our Apps</a></li>
              <li><a href="/blog/">The Blog</a></li>
<!--
              <li><a title='Facebook' class='facebook' href="#">Facebook</a></li>
-->
              <li><a title='Twitter' class='twitter' href="https://twitter.com/moxie">Twitter</a></li>
            </ul>
          </nav>
