  <article id='encrypted_texts'>
    <div class='container thin'>
      <hgroup>
        <h2>Secure texts for Android</h2>
        <h3>
          <strong class='green'>TextSecure</strong> encrypts your text messages
          over the air and on your phone. It's almost identical to the normal
          text messaging application, and is just as easy to use.
        </h3>
      </hgroup>
    </div>

      <div class='carousel-container'>
        <div class='carousel-frame' id='textsecure_carousel_frame'>
          <div class='carousel slide' id='textsecure_carousel'>
            <div class='carousel-inner'>
              <div class='active item'><img src="{% asset_path screens/textsecure_conversationlist.png %}" alt='Screenshot'></div>
              <div class='item'><img src="{% asset_path screens/textsecure_passphrase.png %}" alt='Screenshot'></div>
              <div class='item'><img src="{% asset_path screens/textsecure_upgrade.png %}" alt='Screenshot'></div>
            </div>
          </div>
        </div>
      </div>

    <section class='striped'>
      <div class='container thin'>
        <ul class='features'>
          <li>
            <a href="#" data-to="0" class="active">
              <i class='icon cell'></i>
              A full replacment for the default text messaging application.
            </a>
          </li>
          <li>
            <a href="#" data-to="1">
              <i class='icon alert'></i>
              All messages are encrypted locally, so if your phone is lost,
              your messages will be safe.
            </a>
          </li>
          <li>
            <a href="#" data-to="2">
              <i class='icon speech'></i>
              Messages to other TextSecure users are encrypted over the air,
              protecting your communication in transit.
            </a>
          </li>
        </ul>
      </div>
    </section>

    <div class='container thin'>
      <section class='buttons'>
        <a class='button button-info' href="https://play.google.com/store/apps/details?id=org.thoughtcrime.securesms">
          Install <strong>TextSecure</strong>
<!--                  <img class='arrow' src='img/body/arrow-down.png' alt='Arrow'>-->
        </a>
        <a class='button button-download' href="https://github.com/WhisperSystems/TextSecure/">
Get TextSecure Source
          <img class='arrow' src="{% asset_path body/arrow-right.png %}" alt='Arrow'>
        </a>
      </section>
    </div><!-- /.container -->

    <div class="clearfix">&nbsp;</div>
  </article>
