@import url(http://fonts.googleapis.com/css?family=Montserrat);
@mixin montserrat() {
  font-family: 'Montserrat', sans-serif;
}

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@mixin lato() {
  font-family: 'Lato', sans-serif;
}
@mixin lato_bold() {
  font-family: 'LatoBold', sans-serif;
}
