@mixin montserrat() {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

@mixin lato() {
  font-family: 'Lato', sans-serif;
}

@mixin lato_bold() {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
