@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

@mixin banner {
  color: #ffffff;
  background-color: #73c382;
  text-align: center;

  a, a:visited, a:active {
    color: #FFFFFF;
  }
}
