.tabbed {
  text-align: center;

  ul.tabs {
    padding: 0;

    li {
      display: inline-block;
      color: #555;
      font-family: 'OpenSansLight', Helvetica, Arial, sans-serif;
      font-size: 1.3em;

      &:not(:last-child):after {
        content: "·";
        padding: 0 0.5em;
      }

      &.selected { font-weight: bold; }
    }
  }

  section {
    display: none;
    background-color: #eeeeee;
    border: 1px solid #dedede;
    padding: 2em 3em;
    max-width: 900px;
    text-align: left;
    margin: auto;

    &.selected { display: block; }

    p { margin-top: 0; }
  }
}
