.tabbed {
  text-align: center;

  ul.tabs {
    position: relative;
    padding: 0;

    li {
      position: relative;
      display: inline-block;
      padding: 0 0.5em;
      color: #555;

      &.selected { font-weight: bold; }

      &:hover { cursor: pointer; }
    }
  }

  section {
    display: none;
    text-align: left;
    margin: auto;

    &.selected { display: block; }

    p { margin-top: 0; }
  }
}
