---
layout: root
title: TextSecure
---

<div id='main'>
  <article id='privacy'>
    <div class='container'>
      <hgroup>
        <h2>Need some privacy?</h2>
        <h3>Secure your communication with our mobile applications. <strong class='red'>It's that simple.</strong></h3>
      </hgroup>

      <img class='illustration' alt='Cellphones' src='{% asset_path body/two_phones.png %}'>

      <section class='checkpoints'>
        <div class='checkpoint'>
          <h4><strong>Encrypted</strong> Communication And Storage</h4>
          <p><strong>Our projects</strong> are focused on creating simple and easy-to-use tools for secure mobile communication and secure mobile storage.
          </p>
        </div>

        <div class='checkpoint'>
          <h4><strong>Open Source</strong> Software</h4>
          <p><strong>The source</strong> for all our projects is open, so that anyone can easily verify they work as advertised. They are licensed GPLv3 and will always be free.
          </p>
        </div>

      </section>
    </div>

  </article>
  
  {% include text-secure.html %}
  
  {% include red-phone.html %}

</div>
