@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato-Regular'), local('Lato-Regular'), url('lato.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato-Bold'), local('Lato-Bold'), url('lato_bold.woff') format('woff');
}
